<h2 id="title">Welcome to Ember</h2>

{{#float-label}}
  {{input type="text" value=name placeholder="Name"}}
{{/float-label}}

{{#float-label}}
  {{textarea value=notes placeholder="Notes"}}
{{/float-label}}
